# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.in
ngp
tags

Makefile
configure
AUTHORS
ChangeLog
INSTALL
NEWS
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
missing
config.log
config.status
src/.deps/
